@charset "UTF-8";

.container { width: 100%; margin: 0 auto;}

.slick-list		{ overflow:hidden; }
.slick-slide	{ float:left; width:100%; padding:0; margin:0; line-height:0; position:relative; }

.main_visual_section { width: 100%; max-width: 1980px; margin: 0 auto; position: relative; box-sizing: border-box;}
.main_visual_section > a { display: block;}
.main_visual { position: relative; display: block; width: 100%;}
.main_visual picture { width: 100%; margin: 0 auto; text-align: center;}
.main_visual picture img { width: 100%; margin: 0 auto; text-align: center; object-fit: cover;}
.main_visual { position: relative; display: block; width: 100%; }
.main_visual picture { width: 100%; margin: 0 auto; text-align: center; }
.main_visual picture img { width: 100%; margin: 0 auto; text-align: center; object-fit: cover; }
.gradient-overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
 pointer-events: none; display: block; }


.main_visual .txt_box { max-width: 1280px; padding: 0 80px; width: 100%; position: absolute; left: 10%; top: 20%; color: #fff; z-index: 10; opacity: 0; transition: all 0.5s ease-in-out; text-shadow: 0 -1px 1px rgba(51, 51, 51, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.1);}/*max-width: 1440px;*/
.main_visual .txt_box > span ~ button { opacity: 0; transition:all .5s;}
.main_visual .txt_box > span { display: block; margin-bottom: 3rem;font-size: 1.25rem; word-break: keep-all; word-wrap: break-word; font-weight: 500; color: #fff; line-height: 1.4; opacity: 0; }
.main_visual .txt_box > strong { display: block; margin-bottom: 1.25rem; font-size: 2.5rem; word-break: keep-all; word-wrap: break-word; font-weight: 700; color: #fff; line-height: 1.4; opacity: 0; }
.main_visual .txt_box > strong span{ font-size: 2.5rem; word-break: keep-all; word-wrap: break-word; font-weight: 700; color: #ffa800; line-height: 1.4; opacity: 0; transition:all .5s;}
.main_visual .txt_box > p {  display: block; margin-bottom: 3rem; font-size: 1.125rem;word-break: keep-all; word-wrap: break-word; font-weight: 300; color: #fff; line-height: 1.4; opacity: 0; transition:all .5s;}
.main_visual .txt_box > button { display: block; font-size: 0.875rem;word-break: keep-all; word-wrap: break-word; font-weight: 300; color: #fff; border: 1px solid #fff; line-height: 1.4; padding: 12px 32px; opacity: 0; transition:all .5s;}

.main_visual a .txt_box > strong span:hover{ text-decoration: none; transition:all .5s;}
.main_visual a .txt_box > p:hover  { text-decoration: underline; transition:all .5s;}
.main_visual a .txt_box button:hover { background:#fff; color: #434343; font-weight: 600; transition:all .5s;}


@keyframes txtAnimation {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }  
}
.main_visual .slick-active .txt_box { animation: txtAnimation 0.8s ease both;}
.main_visual .slick-active .txt_box span,
.main_visual .slick-active .txt_box strong,
.main_visual .slick-active .txt_box p,
.main_visual .slick-active .txt_box button { 
    opacity: 0; 
    animation: fadeIn 0.6s ease both;
}


.main_visual .slick-active .txt_box span { 
    animation-delay: 0.4s; 
    animation-duration: 0.6s;
}
.main_visual .slick-active .txt_box strong { 
    animation-delay: 0.7s;
    animation-duration: 0.6s; 
}
.main_visual .slick-active .txt_box p { 
    animation-delay: 1.1s;
    animation-duration: 0.6s; 
}
.main_visual .slick-active .txt_box button { 
    animation-delay: 1.3s;
    animation-duration: 0.6s; 
}

.main_visual .reset-animation .txt_box { 
    transform: translateY(20%);
    opacity: 0; 
    transition: all 0s; 
}



.controller { background: #fff; width: 260px; height: 60px; position: absolute; bottom: 40px; left: 50%; transform: translateX(-50%); z-index: 1; padding: 10px; display: flex; justify-content: space-between; align-items: center;}
.controller .slick-dots-container,
.controller .slick-arrows-container,
.controller .custom-arrows-container { display: flex; gap: 10px;}
.controller .slick-dots-container { order: 1;}
.controller .slick-dots { position: absolute; width: 7.5rem; height: 0.125rem; top: 50%; left: 10%; transform: translateY(-50%); text-align: center; z-index: 5;}
.controller .slick-dots li { display: inline-block;}
.controller .slick-dots li button { width: 2.5rem; height: 0.125rem; background: rgba(199, 199, 199, 1); text-indent: -9999px; overflow: hidden; vertical-align: text-top; position: relative;}
.controller .slick-dots li.slick-active button:before { content: ""; position: absolute; top: 0; left: 0; z-index: 20; opacity: 1; background: rgba(31, 31, 31, 1); transition: width 1.26s ease-in-out;}
.controller .slick-dots li.slick-active:nth-child(1) button:before { width: 2.5rem; height: 0.188rem; transform-origin: 2.5rem 0%; animation: indi1 1.26s 1s ease-in-out both;}
.controller .slick-dots li.slick-active:nth-child(2) button:before { width: 5rem; height: 0.188rem; transform-origin: 5rem 0%; animation: indi2 1.26s 1s ease-in-out both;}
.controller .slick-dots li.slick-active:nth-child(3) button:before { width: 7.5rem; height: 0.188rem; transform-origin: 7.5rem 0%; animation: indi3 1.26s 1s ease-in-out both;}

@keyframes indi1 {
    0% { width: 0rem; }
    50% { width: 2.5rem; opacity: 1; }
    100% { opacity: 1; width: 2.5rem; }
}

@keyframes indi2 {
    0% { width: 2.5rem; }
    50% { width: 5rem; opacity: 1; }
    100% { opacity: 1; width: 5rem; }
}

@keyframes indi3 {
    0% { width: 5rem; }
    50% { width: 7.5rem; opacity: 1; }
    100% { opacity: 1; width: 7.5rem; }
}


.controller .slick-arrows-container { order: 2; position: absolute; top: 50%; left: 60%; transform: translateY(-50%); z-index: 5;}
.controller .slick-arrows-container .slick-prev,
.controller .slick-arrows-container .slick-next { width: 20px; height: 20px; background-size: auto; text-indent: -9999px; overflow: hidden;}
.controller .slick-arrows-container .slick-prev { background: url(../img/main/mv_arrow_left.svg) no-repeat left 50%;}
.controller .slick-arrows-container .slick-next { background: url(../img/main/mv_arrow_right.svg) no-repeat right 50%;}

.controller .custom-arrows-container { order: 3;}
.controller .custom-arrows-container.custom-arrows { position: absolute; top: 50%; right: 10%; width: 20px; height: 20px; transform: translateY(-50%); transition: all 0.2s ease; z-index: 5; display: block; text-align: center; vertical-align: baseline; }
.controller .custom-arrows-container.custom-arrows .pause,
.controller .custom-arrows-container.custom-arrows .play { width: 1rem; height: 1.125rem; text-indent: -9999px; overflow: hidden;}
.controller .custom-arrows-container.custom-arrows .pause { background: url(../img/main/mv_arrow_pause.svg) no-repeat 50% 50%; background-size: contain;}
.controller .custom-arrows-container.custom-arrows .play { background: url(../img/main/mv_arrow_play.svg) no-repeat 50% 50%; background-size: contain;}
.controller .custom-arrows-container.custom-arrows .pause:hover,
.controller .custom-arrows-container.custom-arrows .play:hover { transition: all 0.08s ease;}


.contents { width: 100%;  margin: 0 auto;} /*max-width: 1920px;*/
.contents article { width: 100%; height: 100%;margin: 0 auto; position: relative; padding: 7.5rem 0;} /*max-width: 1920px;*/
.contents article:nth-child(2) { background:#f7f7f7; }
.contents article:nth-child(4) { padding: 1.5rem 0 7.5rem;}
.contents article .txt_box { color: #1f1f1f;line-height: 1.4; margin: 0 auto 40px; text-align: center; display: flex; align-items: center; flex-direction: column;}
.contents article .txt_box strong { position: relative; display: block; margin-bottom: 2rem; font-size: 2rem; word-break: keep-all; word-wrap: break-word; font-weight: 700; line-height: 1.4;}
.contents article .txt_box strong:before  { content: ""; position: absolute; width: 10px; height: 10px; top:-10px; left: -10px;  background: #ffa800; border-radius: 50px; box-sizing: border-box; }
.contents article .txt_box span { color: #434343; font-size: 1.5rem; word-break: keep-all; word-wrap: break-word; font-weight: 400; line-height: 1.4;}

.postItem .pic { overflow: hidden;}
.postItem > a > .pic > img { transition:all .5s; transform-origin: center; max-width: 100%;}
.postItem > a:hover > .pic > img { transform: scale(1.2);}

.postItem .desc { width: 100%; max-width: 100%; box-sizing: border-box; display: flex; justify-content: center; flex-direction: column; padding: 2rem; background-color: #fff; box-shadow: 0 0 0.375rem rgba(0,0,0,0.08); -webkit-backdrop-filter: blur(16px); backdrop-filter: blur(16px); text-align: left; transition:all .5s; transform-origin: center; }
.desc span { color: #ffa800; font-size: 1.375rem; margin-bottom: 2rem;}
.desc strong { color: #2a2a2a; font-size: 1.75rem; line-height: 1.4; word-break: keep-all; word-wrap: break-word; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp:4; -webkit-box-orient: vertical;}
.desc strong> span { color: #2a2a2a; font-size: 1.75rem; line-height: 1.4; font-weight: 400;}

.sec01_wrap, .sec02_wrap, .sec03_wrap { width: 100%; max-width: 1440px; text-align: center; margin: 0 auto; }
.post01,.post02{ display: flex; justify-content: space-around; align-items: center; column-gap: 24px;}

.post01 .postItem { width: 29rem; margin: 0 auto;}
.post01 .postItem:nth-child(2)  { margin-top:2.5rem; }

.post02 .postItem { width: 29rem; margin: 0 auto; }
.post02 .postItem .desc { width: calc(100% - 18%); max-width: 100%; height: 16.75rem; margin-top: -6.125rem; margin-left: 18%; box-sizing: border-box; display: flex; justify-content: flex-start; flex-direction: column; background-color: #fff; box-shadow: 0 0 0.375rem rgba(0,0,0,0.08); -webkit-backdrop-filter: blur(16px); backdrop-filter: blur(16px); text-align: left; padding: 2.5rem 2rem 3.5rem;}
.gap_p { display: block; font-size: 1.75rem; line-height: 1.4;}

.post03 { }
.post03 .postItem { width: 100%; max-width: 1440px; margin: 0 auto;  }
.post03 .postItem a { width: 100%; max-width: 1440px; margin: 0 auto; display: flex; justify-content: space-evenly; flex-wrap: nowrap; align-items: center;}
.post03 .postItem a .pic { width: 702px; max-width: 100%;}
.post03 .postItem a .desc { width: 738px; max-width: 100%; padding: 134px 32px 125px;}
.post03 .postItem a .desc p { font-size: 2rem; font-weight: 400; color: #434343; margin-top: 3rem; }
.boxwrap { width:1440px; max-width:100%; display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: space-between; margin: 0 auto;}

.postItem > a:hover > .desc { transition:all .5s; transform-origin: center; max-width: 100%; background: -webkit-linear-gradient(45deg, #e34c22, #df9d34);}
.postItem > a:hover > .desc span { color: #fff; font-size: 1.375rem; margin-bottom: 2rem;}
.postItem > a:hover > .desc strong { color: #fff68f; font-size: 1.75rem; line-height: 1.4;}
.postItem > a:hover > .desc strong> span { color: #fff68f; font-size: 1.75rem; line-height: 1.4; font-weight: 400;}
.postItem > a:hover > .desc p { color: #fff;}

.boxwrap .banner { width: 702px; max-width: 100%; position: relative;}
.boxwrap .banner01 { background: #edeafb;}
.boxwrap .banner02 { background: #fdeaed;}
.boxwrap .banner .txt { font-size: 2.5rem; font-weight: 600; margin-right: 7.25rem; padding: 0 0 0 58px;}
.boxwrap .banner a { display: block; position: relative; padding: 66px 0;}
.boxwrap .banner a:hover .txt  { text-decoration: underline; }
.boxwrap .banner01 a:after { content: ""; position: absolute; right: 40px; top: -24px; background-image: url("../img/main/itemIcon01.png"); background-repeat: no-repeat; background-size: 100%; width: 143px; height: 152px;}
.boxwrap .banner02 a:after { content: ""; position: absolute; right: 40px; top: -24px; background-image: url("../img/main/itemIcon02.png"); background-repeat: no-repeat; background-size: 100%; width: 154px; height: 150px;}

/* 태블릿 스타일 */
@media (max-width: 1600px) {

}

/* 태블릿 스타일 */
@media (max-width: 1440px) {

    .contents article { padding: 7.5rem 2.5rem;}
    .contents article:nth-child(4) { padding: 1.5rem 2.5rem 7.5rem;}
    .post03 .postItem a .desc { padding: 120px 32px 112px;}

    .boxwrap { column-gap: 2.5rem;}
}




/* 태블릿 스타일 */
@media (max-width: 1280px) {

.post02 .postItem .desc { width: calc(100% - 10%); margin-left: 10%; margin-top: -4.25rem; padding: 2.5rem 2rem 3.5rem; }      
.post03 .postItem a .desc { height:  auto; padding: 92px 32px 88px;}
   
}

@media (max-width: 1200px) {
      
.post03 .postItem a .desc { padding: 80px 32px 68px;}

}



@media (min-width: 961px) and (max-width: 1200px) {
    .frame_mob { display:none;}
}

@media (max-width: 1024px) {
    
    .main_visual .txt_box { padding: 0 40px; left: 5%; top: 15%; }
    .main_visual .txt_box strong,
    .main_visual .txt_box strong span { font-size: 1.5rem; }
    .main_visual .txt_box > span,
    .main_visual .txt_box > p { font-size: 1rem; }
    .main_visual .txt_box > button { padding: 10px 24px; font-size: 0.75rem; }

    .post03 .postItem a .desc { padding: 40px 32px 42px;}
    
    .boxwrap .banner a { padding: 46px 0;}
    .boxwrap .banner01 a:after, .boxwrap .banner02 a:after { background-size: 80%; right: 0px; }
}

    
/* 모바일 스타일 */

@media (max-width: 960px) {
    
    .main_visual .txt_box { padding: 0 20px; left: 5%; top: 10%; text-shadow: 0 -1px 1px rgba(51, 51, 51, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.05);}
    .main_visual .txt_box strong,.main_visual .txt_box > span  { font-size: 1.5rem; }
    .main_visual .txt_box > p { font-size: 0.875rem; }
    .main_visual .txt_box > button { padding: 8px 20px; font-size: 0.75rem; }

    .contents article { padding: 3.75rem 2.5rem; }
    .contents article:nth-child(4) { padding: 1.5rem 2.5rem 3.75rem;}
    .post01 .postItem, .post02 .postItem { width: 100%; margin: 0 auto;}
    .postItem > a > .pic > img { width: 100%;}
    .desc strong, .desc strong> span { font-size: 1.5rem; }
    .desc span { margin-bottom: 1rem;}
    .postItem > a:hover > .desc strong, .postItem > a:hover > .desc strong> span
    { font-size: 1.5rem; }
    
    .post01 .postItem:nth-child(2)  { margin-top:0; }
    .post01, .post02 { flex-direction: column; gap: 2.5rem 0;}
    .post02 .postItem .desc { height: auto;}
    .post03 .postItem a{ flex-direction: column;}
    .post03 .postItem a .pic { width: 100%;}
    .post03 .postItem a .desc { width: 100%;}
    .post03 .postItem a .desc p { font-size: 1.25rem; margin-top: 1.5rem;}
    .boxwrap { flex-direction: column; gap: 3.75rem 0;}
    .boxwrap .banner { width: 100%;}
    .boxwrap .banner01 a:after, .boxwrap .banner02 a:after { background-size: contain; right: 40px; top: -24px;}
    
}

/* 모바일 스타일 */
@media (max-width: 768px) {

    .slick-slide { height: 25rem;}
    .main_visual picture, .main_visual picture img { height: 25rem;}
    .boxwrap .banner01 a:after, .boxwrap .banner02 a:after {  background-size: 80%; }
    .boxwrap .banner a { padding: 36px 0;}
    .boxwrap .banner .txt { font-size: 1.25rem; margin-right: 0; padding: 0 0 0 28px;}
    
    
}

/* 모바일 스타일 */
@media (max-width: 720px) {

    
    .main_visual .txt_box { vertical-align: top;}
    .main_visual .slick-active .txt_box { vertical-align: top;} 
    .main_visual_section .txt_box span { font-size: 1rem; margin-bottom: 0.75rem;}
    .main_visual .txt_box strong,.main_visual .txt_box > span
    { font-size: 1.25rem; margin-bottom: 1rem;}
    .main_visual_section .txt_box p { font-size: 1rem; margin-bottom: 0.75rem;}
    .boxwrap .banner a { padding: 28px 0; }
    .boxwrap .banner01 a:after, .boxwrap .banner02 a:after { right: -20px; background-size: 70%; }
    
    
    

}
@media (max-width: 641px) {
   
/*    .main_visual picture img { object-position: -16rem 0;}*/

    
}
    
/* 모바일 스타일 */
@media (max-width: 480px) {
    #header strong.month_cont { display: flex; flex-wrap: wrap; flex-direction: column; align-items: flex-start;}
    .boxwrap .banner01 a:after, .boxwrap .banner02 a:after { right: -45px; background-size: 55%;}

}

@media (max-width: 425px) {
    .frame_mob { display:none;}
    .boxwrap .banner01 a:after, .boxwrap .banner02 a:after { right: -72px; background-size: 45%;}
    
}
/* 모바일 스타일 */
@media (max-width: 375px) {
    .frame_pc { display:block;} 
    .desc span { font-size: 0.875rem; margin-bottom: 0.875rem;}
    .desc strong, .desc strong> span { font-size: 1.375rem; }
    .postItem > a:hover > .desc strong, .postItem > a:hover > .desc strong> span
    { font-size: 1.375rem; }
    .postItem .desc { padding: 1.25em;}
    .post02 .postItem .desc { padding: 1.5rem 1.25rem 1.75rem;}

    

}
