/*패딩*/
.pt0 						{ padding-top:0;}
.pl0 						{ padding-left:0;}
.pr0 						{ padding-right:0;}
.pb0 						{ padding-bottom:0;}


/*마진*/
.mr10						{ margin-right:10px; }
.mr20						{ margin-right:20px; }
.mr30						{ margin-right:30px; }
.mr40						{ margin-right:40px; }
.mr50						{ margin-right:50px; }
.mr60						{ margin-right:60px; }

.ml10						{ margin-left:10px; }
.ml20						{ margin-left:20px; }
.ml30						{ margin-left:30px; }
.ml40						{ margin-left:40px; }
.ml50						{ margin-left:50px; }
.ml60						{ margin-left:60px; }


.mt10						{ margin-top:10px; }
.tb12						{ margin-top:12px; }
.mt15						{ margin-top:15px; }
.mt16						{ margin-top:16px; }
.mt20						{ margin-top:20px; }
.mt24						{ margin-top:24px; }
.mt30						{ margin-top:30px; }
.mt40                       { margin-top:40px; }
.mt48                       { margin-top:48px; }
.mt50                       { margin-top:50px; }
.mt60                       { margin-top:60px; }
.mt70                       { margin-top:70px; }
.mt80                       { margin-top:80px; }
.mt90                       { margin-top:90px; }
.mt100                      { margin-top:100px; }

.mb10						{ margin-bottom:10px; }
.mb12						{ margin-bottom:12px; }
.mb15						{ margin-bottom:15px; }
.mb16						{ margin-bottom:16px; }
.mb20						{ margin-bottom:20px; }
.mb24						{ margin-bottom:24px; }
.mb30						{ margin-bottom:30px; }
.mb40                       { margin-bottom:40px; }
.mb48                       { margin-bottom:48px; }
.mb50                       { margin-bottom:50px; }
.mb60                       { margin-bottom:60px; }
.mb70                       { margin-bottom:70px; }
.mb80                       { margin-bottom:80px; }
.mb90                       { margin-bottom:90px; }
.mb100                      { margin-bottom:100px; }

/*Image*/
img { border-radius: 2.5rem;}
.stroke { border: 1px solid #e0e0e0}
/*Image*/
 /*2 images and 1 caption*/
.imgBox { display:block; width:100%; }
.imgBox .inner { display: flex; justify-content: center; gap: 20px; width: 100%; }
.imgBox img { width:auto; max-width:100%; vertical-align: bottom;}
.imgBox p {  display: block; text-align:center; flex-direction: column; vertical-align: bottom;}
.imgBox span { font-size: 16px; line-height: 1.4; text-align:center; color:#333; display: block; margin: 8px auto 0;}

 /*Image multi*/
.imgBox_multi { display:block; width:100%; }
.imgBox_multi .inner { display: flex; justify-content: center; gap: 20px; width: 100%; }
.imgBox_multi img { width: auto; max-width: 100%; vertical-align: bottom;}
.imgBox_multi p { display: flex; text-align: center; flex-direction: column; vertical-align: bottom;}
.imgBox_multi span {font-size: 16px; line-height: 1.4; text-align:center; color:#333; display: block; margin: 8px auto 0;}
.flexWrap { display: flex; flex-wrap: wrap;}
.flexWrap p { flex: 1 1 40%;}

.tl								{ text-align:left;}
.tr								{ text-align:right;}
.tc								{ text-align:center;}
.tl img,
.tr img,
.tc img	 {  width:auto; max-width:100%;}

.rImg					        { float:right; }
.lImg					        { float:left; }
.rImg img,
.lImg img		                { width:auto; max-width:100%; }

.cenImg					    { text-align:center; }
.cenImg img				    { width:auto; max-width:100%; }

.rImg img:after,
.lImg img :after {content: ''; display: block; clear: both;}
.imgBox:after {content: ''; display: block; clear: both;}
.imgBox img:after {content: ''; display: block; clear: both;}
.imgBox_multi:after {content: ''; display: block; clear: both;}
.imgBox_multi img:after {content: ''; display: block; clear: both;}
.imgBox_multi span:after { content: ''; clear: both;}


/*이미지 마진 2.5rem 위치*/
.mt_p_2_5rem { margin-top: 2.5rem;}
.mt_m_2_5rem { margin-top: -2.5rem;}

.blindTxt { overflow: hidden; display: inline-block; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}
/*Header*/
#sub_header { width: 100%; box-sizing: border-box; padding: 0 0 5.5rem; }
.sub_header .inner { width: 100%; display: flex; flex-flow: row nowrap; flex-wrap: nowrap; justify-content: flex-end; margin: 0 auto; }
.sub_header .sub_title { width: 634px; display: flex; flex-flow: column; align-items: flex-start; justify-content: center; padding: 20px 64px 20px 40px; }
.sub_header h2 { font-size: 1rem; margin-bottom: 2.25rem; font-weight: bold; color: #ffa800; border: 1px solid #ffa800; border-radius: 22px; padding: 12px 28px;  }
.sub_header h3 { letter-spacing: -0.08em; font-size: 2.25rem;  line-height: 1.4; margin-bottom: 2.25rem; font-weight: bold; color: #131313;}
.sub_header p { font-size: 1.25rem; line-height: 1.4; font-weight: 300;color: #2a2a2a;}
.sub_visuImg { width: 100%; max-width: 1006px; height: auto; vertical-align: top; }
.sub_visuImg img { border-radius: 0;}
.article_Intro { width: 100%; max-width: 1440px; margin: 0 auto;}
.intro { max-width: 1198px; width: 100%; margin: 80px auto 0; padding: 0 60px; color: #636363; font-weight: 400; font-size: 1.375rem; line-height: 1.4; word-wrap: break-word; word-break: keep-all;}
.intro:after { content: ""; width: 19px; height: 20px; background: url(../img/sub/bullet_point.svg) 50% 50% no-repeat; background-size: contain; display: block; text-align: center; margin: 64px auto 0;}

.contents { box-sizing: border-box; width: 100%; margin: auto;}
.sec { display: block; box-sizing: border-box; width: 100%; max-width: 1440px;  margin: auto;}
.sec h4.sub_title { color: #272727; font-size: 2.75rem; font-weight: bold; line-height: 1.4; margin: 0 0 40px 0 }
.sec h4.sub_title span { color: #272727; font-size: 2.75rem; font-weight: bold; line-height: 1.4; text-decoration: underline 1px #272727; text-underline-position: under;} 
.sub_txt { color: #434343; font-size: 1.5rem; line-height: 1.4; letter-spacing: -0.025rem; text-align: justify; word-wrap: break-word; word-break: break-all;}
.cont_column { display: block;}
.sub_txt:after { content: ""; display: block; clear: both;}
.cont_column>.sub_txt:after { content: ""; display: inline-block; clear: both;}

/*미니 인터뷰*/
.mini_interview { width: 100%; margin: auto; }
.labelWrap { width: 100%; max-width: 1440px;  margin: auto;}
.labelWrap .label { display: inline-block; padding: 10px 20px; border-radius: 0.25rem; background-color: #ffa800; color: #fff; font-size: 16px; position: relative; margin-bottom: 20px;}
.mini_interview .label:after {position: absolute;bottom: -16px;left: 17px;content: "";border-top: 10px solid #ffa800;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid transparent;z-index: 1;}
.SpeechBalloon { position: absolute; left: 0; top: 0; width: 100%;}
.SpeechBalloon span { display: block; height: 34px; overflow: hidden;}
.SpeechBalloon span:before { display: inline-block; float: left;content: ""; width: calc(50%); height: 100%; border-radius: 0 0 36px 0; background: #fff;}
.SpeechBalloon span:after { display: inline-block; float: left;content: ""; width: calc(100% - 50%); height: 100%; border-radius: 0 0 0 36px; background: #fff;}
.SpeechBalloon:after { content: ""; clear: both;}
.IntvwBg { background-color: #fff5e3; padding: 100px 0px; position: relative; width: 100%; margin: auto;}
.IntvwBg .inner { width: 100%; max-width: 1440px; margin: auto; }
.IntvwBg .inner .IntvwTit { display: flex; flex-wrap: wrap;}
.IntvwBg .inner .IntvwTit:before { content: ""; width: 100px; height: 96px; background: url(../img/sub/s1_2_icon.png) 0 0 no-repeat;padding-right: 20px;vertical-align: text-top;flex-basis: auto; flex-shrink: 0;flex-grow: 0;}
.IntvwBg .inner .IntvwTit h5 { font-size: 2.25rem; line-height: 1.3; flex: 0 0 90%; display: flex; flex-wrap: wrap; flex-direction: column;}
.IntvwBg .inner .IntvwTit span { font-size: 1.375rem; margin-top: 1.75rem; font-weight: 300; flex: 0 0 auto;}

/*서브 컨텐츠 푸터*/
.sub_footer { width: 100%; max-width: 1440px; margin:80px auto 0; }
/*페이지 네비게이션*/
.pageNav { width: 100%; margin: auto; padding: 0 0 80px 0; border-bottom: 1px solid #e1e1e1;}
.page_navi { max-width: 1234px; margin: auto; display:flex; justify-content: space-between; align-items: stretch;}
.page_container { display:flex; column-gap: 20px;}
.page_container .btn_navi { width: 44px; height: 44px; display: inline-flex; }
.page_container .btn_prev i { display: block; width: 44px; height: 44px; background: #fff url(../img/sub/prev_arrow_left.svg) 46% 50% no-repeat; border-radius: 100px; border: 1px solid #8e8e8e; box-shadow: 0px 12px 16px 4px rgba(000, 000, 000, .06); opacity: 0.4; transition: 0.3s, transform cubic-bezier(0.215, 0.610, 0.355, 1.000)}
.page_container .btn_next i { display: block; width: 44px; height: 44px; background: #fff  url(../img/sub/next_arrow_right.svg) 56% 50% no-repeat; border-radius: 100px; border: 1px solid #8e8e8e;box-shadow: 0px 12px 16px 4px rgba(000, 000, 000, .06); opacity: 0.4; transition: 0.3s, transform cubic-bezier(0.215, 0.610, 0.355, 1.000)}
.page_container .btn_prev i:hover,
.page_container .btn_next i:hover { opacity: 1; box-shadow: 0px 12px 24px 4px rgba(000, 000, 000, .08); transition: 0.3s, transform cubic-bezier(0.215, 0.610, 0.355, 1.000)}

/*SNS 버튼 공유*/
.sub_share ul { display:flex; column-gap: 20px; }
.sub_share ul li i { display: block; filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6)); opacity: 0.4; transition: 0.3s, transform cubic-bezier(0.215, 0.610, 0.355, 1.000)}
.sub_share ul li i { display: block; filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6)); opacity: 0.4; transition: 0.3s, transform cubic-bezier(0.215, 0.610, 0.355, 1.000)}
.sub_share ul li i:hover,
.sub_share ul li i:hover { opacity: 1; filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4)); transition: 0.3s, transform cubic-bezier(0.215, 0.610, 0.355, 1.000)}

/*최근 기사, 지난 기사*/
.article_related { width: 100%; max-width: 1234px; margin:80px auto;}
.article_related .lateed_conTit { font-size: 1.375rem; font-weight: 700; display: block; margin-left: 8px;}
.article_related .related_list { margin-top: 20px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; display: -webkit-box; display: -ms-flexbox; display: flex; gap: 0 40px; width: 100%;}
.article_related .related_list .item { -ms-flex-item-align: stretch; align-self: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; max-width: 100%;}
.article_related .related_list .item a picture { position: relative; height: 0; padding-bottom: 77%; width: 100%; display: block; overflow: hidden; border-radius: 2.5rem; }
.article_related .related_list .item a picture img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; margin-top: 0px; transition:all .5s; transform-origin: center; max-width: 100%; opacity: 0.5; }
.article_related .related_list .item a:hover picture img { opacity: 1; transform: scale(1.2); border-radius: 2.5rem;}

.article_related .related_list .item .desc { margin-top: 30px; margin-left: 8px;}
.article_related .related_list .item .desc p { color: #333; font-size: 1.25rem; line-height: 1.4; font-weight: bold; padding-bottom: 12px; margin-bottom: 36px; border-bottom: 1px solid #e1e1e1;}
.article_related .related_list .item .desc span { color: #333; font-size: 0.875rem; line-height: 1.4; font-weight: 300; }






/* 태블릿 스타일 */
@media (max-width: 1600px) { }

/* 태블릿 스타일 */
@media (max-width: 1440px) {
    .frame_tab { display:block !important;}
    .sec { padding: 0 2.5rem}
    .labelWrap { padding: 0 2.5rem;}
    .IntvwBg .inner { padding: 0 2.5rem;}
    .pageNav { padding: 0 2.5rem;}
    .article_related { padding: 0 2.5rem;}
}

@media (max-width: 1400px) {

}

@media (max-width: 1366px) { }

@media (max-width: 1280px) {
    .IntvwBg .inner .IntvwTit:before { height: 48px; background-size: contain; padding-right: 0; margin-bottom: 20px;}
    .IntvwBg .inner .IntvwTit h5 { font-size: 1.75rem; flex: 0 0 100%;}
    
}


@media (max-width: 1200px) {
    

}



/* 모바일 스타일 */
@media (max-width: 1024px) {

}

    
/* 모바일 스타일 */
@media (max-width: 960px) {
     /*마진*/
    .mr10						{ margin-right:5px; }
    .mr20						{ margin-right:10px; }
    .mr30						{ margin-right:15px; }
    .mr40						{ margin-right:20px; }
    .mr50						{ margin-right:25px; }
    .mr60						{ margin-right:30px; }

    .ml10						{ margin-left:5px; }
    .ml20						{ margin-left:10px; }
    .ml30						{ margin-left:15px; }
    .ml40						{ margin-left:20px; }
    .ml50						{ margin-left:25px; }
    .ml60						{ margin-left:30px; }

    .mt10						{ margin-top:5px; }
    .mt12						{ margin-top:6px; }
    .mt15						{ margin-top:7.5px; }
    .mt16						{ margin-top:8px; }
    .mt20						{ margin-top:10px; }
    .mt24						{ margin-top:12px; }
    .mt30						{ margin-top:15px; }
    .mt40                       { margin-top:20px; }
    .mt48                       { margin-top:24px; }
    .mt50                       { margin-top:25px; }
    .mt60                       { margin-top:30px; }
    .mt70                       { margin-top:35px; }
    .mt80                       { margin-top:40px; }
    .mt90                       { margin-top:45px; }
    .mt100                      { margin-top:50px; }

    
    .mb10						{ margin-bottom:5px; }
    .mb12						{ margin-bottom:6px; }
    .mb15						{ margin-bottom:7.5px; }
    .mb16						{ margin-bottom:8px; }
    .mb20						{ margin-bottom:10px; }
    .mb24						{ margin-bottom:12px; }
    .mb30						{ margin-bottom:15px; }
    .mb40                       { margin-bottom:20px; }
    .mb48                       { margin-bottom:24px; }
    .mb50                       { margin-bottom:25px; }
    .mb60                       { margin-bottom:30px; }
    .mb70                       { margin-bottom:35px; }
    .mb80                       { margin-bottom:40px; }
    .mb90                       { margin-bottom:45px; }
    .mb100                       { margin-bottom:50px; }
    
    /*Image*/
    img { border-radius: 1.25rem;}
   
    /*Image*/
    .tl, .tr, .tc   { text-align:center}
    .tl img, .tr img, .tc img   { width:auto;}
    .rImg, .lImg	{ display:block; text-align:center; float:none; }
    .rImg			{ display:block; margin: 0 auto; text-align:center; float:none; }
	.lImg			{ display:block; margin: 0 auto; text-align:center; float:none; } 
    .rImg img,
	.lImg img		{ width:auto;}
    
    .cont_column>.rImg, .cont_column>.lImg
    { width: fit-content; max-width: 100%; display:block; margin: 0 auto 20px; text-align:center; float:none;  }
    
    .imgBox			{ width:100%; display:block; padding:0 !important; }
    .imgBox .inner  { flex-direction: column; align-items: center;}
    .imgBox	p		{ display:block; text-align:center; padding:0;}
    .imgBox	p:last-child   {padding: 0;}
    .imgBox span	{ display:block;}
    
	.imgBox_multi		{ width:100%; display:block; padding:0 !important; }
    .imgBox_multi .inner { flex-direction: column; align-items: center;}
	.imgBox_multi p		{ display:block; text-align:center; padding:0;}
    .imgBox_multi span	{ display:block;}
	.imgBox_multi p:last-child  {padding: 0;}
    
    #sub_header { padding: 0 0 2.75rem; }
    .sub_header .inner { justify-content: center; flex-wrap: wrap;}
    .sub_header .sub_title { width: 100%; display: flex; flex-flow: column; align-items: flex-start; justify-content: center; padding: 52px 20px 28px 20px;}
    .sub_header h2 { margin-bottom: 1.75rem;}
    .sub_header h3 { font-size: 1.75rem; margin-bottom: 1.75rem;}
    .sub_header p { font-size: 1.125rem;}

    .intro { font-size: 1.188rem;}
    .intro:after { margin: 32px auto 0;}
    
    .sec { padding: 0 2.5rem 0.75rem;}
    .sec h4.sub_title { font-size: 1.5rem; margin: 0 0 32px 0;}
    .sec h4.sub_title span { font-size: 1.5rem;}
    .sub_txt { font-size: 1.25rem;}
 
    .labelWrap { padding: 0 2.5rem;}
    .SpeechBalloon span { height: 24px;}
    .SpeechBalloon span:before { border-radius: 0 0 26px 0; }
    .SpeechBalloon span:after { border-radius: 0 0 0 26px; }
    .IntvwBg { padding: 56px 0px;}
    .IntvwBg .inner { padding: 0 2.5rem;}
    .IntvwBg .inner .IntvwTit h5 { font-size: 1.5rem; flex: 0 0 100%;}
    
    .sub_footer { margin: 40px auto 0;}
    .page_navi { flex-wrap: wrap; flex-direction: column; gap: 20px;}
    .article_related { margin: 40px auto;}
    .article_related .lateed_conTit { font-size: 1.125rem;}
    .article_related .related_list { flex-direction: column; gap:28px; }
    .article_related .related_list .item .desc { margin-top: 24px;}
    .article_related .related_list .item .desc p { font-size: 1.125rem; margin-bottom: 20px;}
}

/* 모바일 스타일 */
@media (max-width: 768px) {    
    .intro {margin: 40px auto 0; padding: 0 32px;}
    }

/* 모바일 스타일 */
@media (max-width: 720px) { }
/* 모바일 스타일 */
@media (max-width: 640px) {  }

/* 모바일 스타일 */
@media (max-width: 480px) { }

/* 모바일 스타일 */
@media (max-width: 360px) {}
