@charset "UTF-8";

/*Header*/
#sub_header { width: 100%; box-sizing: border-box; padding: 164px 0 112px; width: 100%; height: 100%; background: url(../img/sub/company/sub_title_bg.png) no-repeat; background-size: cover;background-position: center center}
.sub_header .inner { width: 100%; max-width: 1440px; margin: 0 auto; text-align: center;}
.sub_header .sub_title { color: #fff; text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.05);}
.sub_header h2 { font-family: "Montserrat", "Pretendard", "NotoSansKR", sans-serif; font-size: 2.5rem; margin-bottom: 2.25rem; font-weight: bold; animation: subTit 1 0.8s 0.4s cubic-bezier(0.25, 1.5, 0.75, 1.5) both;}
.sub_header p { font-size: 1.25rem; font-weight: 300; animation: subTxt 1 0.6s 0.4s cubic-bezier(0.25, 1.5, 0.75, 1.5) both;}
@keyframes subTit {
	0% { filter:blur(20px); opacity:0; }
	100% { filter:blur(0); opacity:1; }
}
@keyframes subTxt {
	0% { transform:translateY(40px); opacity:0; }
	100% { transform:translateY(0); opacity:1; }
}

.lnb_wrap { width: 100%; background: #fff; border-bottom: 1px solid #dfdfdf; position: sticky; z-index: 10; top: 9rem;}
.lnb_wrap .lnb { width: 100%; max-width: 1440px; margin: 0 auto; text-align: center;}
.lnb_wrap .lnb ul { display: flex; flex-wrap: wrap; gap: 0.75rem 3.75rem; padding: 1.25rem 0;}
.lnb_wrap .lnb ul li a { position: relative; font-size: 1.125rem; color: #767676; font-weight: 400;  padding: 20px 0; transition: all 0.3s 0.2s ease-in-out;}
.lnb_wrap .lnb ul li a span { position: relative; padding: 4px 0;}
.lnb_wrap .lnb ul li a span:before { content: ''; width: 0; height: 2px; background: #767676; position: absolute;  bottom: 0; transition: all 0.3s 0.2s ease-in-out }
.lnb_wrap .lnb ul li:hover a{ color: #767676; } 
.lnb_wrap .lnb ul li:hover a span:before{ content: ''; width: 100%; background: rgba( 118, 118, 118, 0.5 ) ; transition: all 0.3s 0.2s ease-in-out; animation: lnbActive 1 0.3s 0.2s cubic-bezier(0.25, 1.5, 0.75, 1.5) both;}
.lnb_wrap .lnb ul li.active a { color: #333; font-weight:700; transition: all 0.3s 0.2s ease-in-out;}
.lnb_wrap .lnb ul li.active a span:before {  content: ''; width: 100%; color: #333; background: #333; font-weight:700; transition: all 0.3s 0.2s ease-in-out; animation: lnbActive 1 0.3s 0.2s cubic-bezier(0.25, 1.5, 0.75, 1.5) both;}
@keyframes lnbActive {
	0% { transform:translateX(-60px); opacity:0; }
	100% { transform:translateX(0); opacity:1; }
}


/*Overview*/
.about, .co_info, .client, .contact, .works  { width: 100%; height: 100%;margin: 0 auto; position: relative; padding: 7.5rem 0;} /*max-width: 1920px;*/
.inner_wrap { max-width: 1280px; margin: 0 auto; display: flex; justify-content: space-between; position: relative;} /*max-width: 1440px;*/
.tit_wrap { width: 200px; margin-right: 40px; position: sticky;}
.tit_wrap h3.tit { display: inline-block; position: relative; font-size: 2.5rem; font-weight: 700; letter-spacing: -0.06em;line-height: 1;}
.tit_wrap>h3.tit::after { content: ""; display: inline-block; position: absolute; bottom: 4px; right: -15px; width: 10px; height: 10px; border-radius: 100%; background-color: #2c9aee;}
.txt_wrap { width: 100%; margin: 0 auto; text-align: center;}
/*.txt_wrap::before { content: '\00a0'; //그냥 공백으로 하면 안나올 수 있다. display: block; margin: -156px 0 0; //?px 는 헤더 height height: 156px;//?px 는 헤더 height }*/
.txt_wrap h4 { font-size: 1.75rem; font-weight: 600; line-height: 1; margin-bottom: 2rem; display: inline-block;}
var  {font-style:normal}
.highlighter  { position:relative;}
.highlighter var { position:relative; z-index:10;}
.highlighter:after { content: ""; position: absolute; bottom: 0.25rem; left: 0; right: 0; display: block;background:#d5f2fc;height:0.5rem;}

.txt_wrap>p.desc { text-align: initial; font-size: 1.5rem; line-height: 1.4; }
.co_info, .contact { background: #fafafa;}

.business_box { margin-top: 3rem; }
.business_box ul { display: flex; flex-wrap: wrap; width: 100%;}
.business_box ul li { position: relative; width: 50%; display: flex; height: auto; padding: 1.5rem; border: 1px solid #dadada;     margin: -1px 0 0 -1px; justify-content: flex-start; align-items: center; text-align: center; flex-direction: column;}
.business_list .icon{ display: flex; align-items: center; justify-content: center; width: 64px; height: 64px; margin-bottom: 0.75rem;}
.business_list .icon .ic: before {display: flex; align-items: center; justify-content: center; width: 64px; height: 64px;  }
.business_list .icon .ic { display: flex; align-items: center; justify-content: center; width:auto; height:auto; }
.business_list .txt { font-size: 1.5rem;}
.business_list .txt span { display: inline-block; margin-bottom: 1.5rem; color: #5b5b5b; font-weight: 400; border-bottom: 1px solid #5b5b5b; }
.business_list .txt .desc { font-size: 1.25rem; color: #333; font-weight: 700; line-height: 1.2; }

.info_box ul { display: flex; flex-wrap: wrap; width: 100%;}
.info_box ul li { position: relative; width: 33.333333%; display: flex; height: auto; padding: 1.5rem; border: 1px solid #dadada;     margin: -1px 0 0 -1px;justify-content: flex-start; align-items: center; text-align: center; flex-direction: column;}
.info_list .icon{ display: flex; flex-direction: column; justify-content: space-around; align-items: center; justify-content: center; width: 64px; height: 64px;  margin-bottom: 0.75rem;}
.info_list .icon .ic: before {display: flex; align-items: center; justify-content: center; width: 64px; height: 64px; }
.info_list .icon .ic { display: flex; align-items: center; justify-content: center; width:auto; height:auto; }
.info_list .txt { font-size: 1.5rem;}
.info_list .txt span { display: inline-block; margin-bottom: 1.5rem; color: #5b5b5b; font-weight: 400; border-bottom: 1px solid #5b5b5b; }
.info_list .txt .desc { font-size: 1.25rem; color: #333; font-weight: 700; line-height: 1.2; }

.client_box { margin-top: 3rem; }
.client_box ul { display: flex; flex-wrap: wrap; width: 100%; }
.client_box ul li { display: flex; flex-wrap: wrap; align-content: center; justify-content: center; align-items: center; flex-direction: row; width: 16.6666666%; height: auto; padding: 1rem; border: 1px solid #dadada; margin: -1px 0 0 -1px; text-align: center; }
.client_list { }

#map { position: relative; width:100%; max-width: auto; height:400px; z-index: 10}
.map_box  { width: 100%; background: rgb(255 255 255 / 90%); bottom: 0; left: 70px; padding:1.75rem 1.5rem; text-align: initial;}
.map_box h4 { position: relative; margin-top: 20px; margin-bottom: 20px; font-size: 2.25rem; }
.map_box h4:before { content: ""; position: absolute; width: 60px; height: 2px; background: #2c9aee; margin-top: -20px;}
.map_box p { font-size: 1.5rem; line-height: 1.4; margin-bottom: 10px;}
.map_box span { display: block; margin-top: 8px; font-size: 1.25rem; font-weight: 500; }


/*Portfolio SNB*/
.tit_wrap ul.snb { margin: 1.25rem auto; position: sticky;}
.tit_wrap ul.snb li { margin: 4px auto; cursor: pointer;}
.tit_wrap ul.snb li a { position: relative; font-size: 1.125rem; color: #767676; font-weight: 400;  transition: all 0.3s 0.2s ease-in-out;}
.tit_wrap ul.snb li:hover a{ color: #767676; } 
.tit_wrap ul.snb li:hover a:before{ content: ''; width: 100%; background: rgba( 118, 118, 118, 0.5 ) ; transition: all 0.3s 0.2s ease-in-out; }
.tit_wrap ul.snb li.active a{ color: #333; font-weight:700; border-bottom: 2px solid #333; transition: all 0.3s 0.2s ease-in-out;}
.tit_wrap ul.snb li.active a:before {  content: ''; width: 100%; color: #333; background: #333; font-weight:700; transition: all 0.3s 0.2s ease-in-out; }

.tab-content{ display: none; background: #fafafa; transition: all 0.3s 0.2s ease-in-out; padding: 3.75rem 1.25rem;}
.tab-content.active{ display: inherit; transition: all 0.3s 0.2s ease-in-out;}
.tab-content>div { display: flex; gap: 20px; margin: 0 auto; text-align: center; width: 100%; flex-wrap: wrap; flex-direction: row; justify-content: space-between; align-items: baseline; align-content: space-around;}

/*Portfolio*/
.postItem { display: inline-block; width: 32%; /*margin: 0.75rem;*/ position: relative; transition: all 0.2s; filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));}
.postItem a { position: relative; display: block; text-decoration: none; transition: all 0.2s; overflow: hidden;}
.postItem a:hover,
.postItem a:active { position: relative; filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0)); filter: drop-shadow(rgba(26, 70, 98, 0.2) 0.5px 1px 1px) drop-shadow(rgba(26, 70, 98, 0.2) 1px 2px 2px) drop-shadow(rgba(26, 70, 98, 0.2) 2px 4px 4px) drop-shadow(rgba(26, 70, 98, 0.2) 4px 8px 8px) drop-shadow(rgba(26, 70, 98, 0.2) 8px 16px 16px); }
.postItem a::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(1, 1, 1, 0), #278bcc 100%); opacity: 0; transition: opacity 0.65s; z-index: 2;}
.postItem a:hover::before,
.postItem a:active::before { opacity: 1;}
.postItem a::after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(1, 1, 1, 0), #fff 100%); opacity: 1; transition: opacity 0.65s; z-index: 1;}
.postItem a:hover::after,
.postItem a:active::after { opacity: 0;}
.postItem .pic { display: block;}
.postItem .pic img { width: 100%; max-width: none; display: block; position: relative; margin: 0; vertical-align: middle; }
.postItem a:hover .pic img,
.postItem a:active .pic img { transform: scale(1.2); transition: transform 0.3s ease;}
.postItem .desc { position: absolute; bottom: 0; left: 0; width: 100%; padding: 0 2rem 2rem; font-weight: 500; font-size: 2rem; line-height: 1.5; color: #333; z-index: 2;}
.postItem:hover .desc,
.postItem:active .desc { position: absolute; bottom: 0; left: 0; width: 100%; padding: 0 2rem 2rem; font-weight: 500; font-size: 2rem; line-height: 1.5; color: #fff; z-index: 2;}


#myMsgDialog { width: 100%; max-width:20%; background-color: #fff; border:2px solid #333; border-radius: 6px; }	
#myMsgDialog h3 { font-size: 22px; color: #333; font-weight: bold;} 
#mButton { margin: 20px 0 0 0; padding:8px 12px; background-color: #2c9aee; color: #fff; font-size: 20px; border: 0; outline: 0; }


/* 태블릿 스타일 */
@media (max-width: 1600px) { }

/* 태블릿 스타일 */
@media (max-width: 1440px) {
    .lnb_wrap .lnb ul { width: auto; margin: 0 auto; display: flex; text-align: center; flex-direction: row; justify-content: center; align-items: stretch; align-content: center;}
    .postItem .desc,
    .postItem:hover .desc,
    .postItem:active .desc { font-size:2.25rem }
}

@media (max-width: 1400px) {}

@media (max-width: 1366px) { }

@media (min-width: 1201px) and (max-width: 1280px) {
    .postItem:hover .desc,
    .postItem:active .desc { font-size:2rem }
    .tab-content>div { gap: 18px;}
    .postItem { width: 32%;}
}


@media (max-width: 1200px) {
    .about, .co_info, .client, .contact, .works  { padding: 3.75rem 0;}
    .inner_wrap { justify-content: space-between; flex-direction: column; padding: 0 1.25rem;}
    .txt_wrap { margin-top: 1.5rem;}
    .business_box ul li { height: auto; padding: 1.5rem; flex-direction: column;}
    .info_box ul li { height: auto; padding: 1.5rem; }
    .business_list .icon .ic, .info_list .icon .ic { width: 36px; height: 36px;}
    .business_list .txt .desc, .info_list .txt .desc { font-size: 1.125rem;}
    .business_list .txt, .info_list .txt{ font-size: 1.25rem;}
    .business_list .txt span, .info_list .txt span { font-size: 1.5rem}
    .client_box ul li {width: 25%; padding: 1.75rem 1.5rem; }
    .postItem { width: 49%;}
}

@media (min-width: 1152px) and (max-width:1199px) {
   .postItem { width: 48%;}

}


@media (min-width: 1025px) and (max-width: 1152px) { }

/* 모바일 스타일 */
@media (max-width: 1024px) {
    .postItem { width: 48%;}
}
/* 모바일 스타일 */
@media (max-width: 768px) { 
    .tit_wrap { width: 100%; margin-right: 0;}
    .tit_wrap h3.tit { font-size: 1.5rem;}
    .tit_wrap ul.snb { position: sticky; width: auto; display: flex; flex-wrap: wrap; gap: 0.75rem 0.75rem; text-align: center; } 
    .txt_wrap>p.desc { font-size: 1.25rem;}
    
    .postItem .desc,
    .postItem:hover .desc,
    .postItem:active .desc { font-size:1.25rem }

    .about, .co_info, .client, .contact { padding: 2rem 0;}
   
    .business_box ul li { padding: 1.125rem;}
    .info_box ul li { width: 50%; padding: 1.125rem;}
    .info_box ul li:nth-child(3), .info_box ul li:nth-child(4),
    .info_box ul li:nth-child(7) { width: 100%;}
    .client_box ul li {width: 33.333333%; padding: 1.125rem; }
    .business_list .txt .desc, .info_list .txt .desc { font-size: 1rem;}
    .business_list .txt, .info_list .txt{ font-size: 1.125rem;}
    .business_list .txt span, .info_list .txt span { font-size: 1.25rem; margin-bottom: 0.75rem;}
    .map_box h4 {font-size: 1.25rem;}
    .map_box p { font-size: 1rem;}
    .map_box span { font-size: 0.75rem;}
    
    #myMsgDialog { width: 60%; max-width: 100%;}
    }

/* 모바일 스타일 */
@media (max-width: 720px) { }
/* 모바일 스타일 */
@media (max-width: 640px) {
   .postItem { width: 100%;}
}

/* 모바일 스타일 */
@media (max-width: 480px) {
    .postItem { width: 100%;}
}

/* 모바일 스타일 */
@media (max-width: 360px) {
    .business_box ul li, .info_box ul li {  width: 100%;}
}